<div class="container-fluid">
    <div class="row">
        <p class="fs-5 my-2">
         {{question.id + ' -  ' + question.question}}
        </p>
        <div class="options-container m-3 mt-0">
            @for (option of question.options; track question.id) {
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" [name]="question.id" [id]="question.id">
                <label class="form-check-label">
                    {{option}}
                </label>
            </div>
            }
        </div>
    </div>
</div>