<div class="row">

  <form [formGroup]="onlineTestFormGroup">

      @for (question of questionList; track question.id) {

        @switch (question.questionType) {
          @case (QuestionTypeEnum.PARAGRAPH_WITH_QUESTIONS) {
            <div class="question-container">
              <div class="container-fluid">
                <div class="row">
                  <p class="fs-5 my-2">
                    {{question?.id + ' - ' + question.paragraph}}
                  </p>
                  <div class="questions-container p-3 mt-0">
                    @for (questionObj of question.questions; track $index) {
                    <div class="mb-2">
                      <p>{{questionObj.id + ' - ' + questionObj.question}}</p>
                      <input type="number" class="form-control"
                        [formControlName]="'question' + question.id + '-'+ questionObj.id">
                    </div>
                    }
                  </div>
                </div>
              </div>
            </div>
          }

          @case (QuestionTypeEnum.MULTIPLE_CHOICE_QUESTION) {
            <div class="question-container">
              <div class="container-fluid">
                <div class="row">
                  <p class="fs-5 my-2">
                    {{question.id + ' - ' + question.question}}
                  </p>
                  <div class="options-container m-3 mt-0">
                    @for (option of question.options; track index; let index = $index) {
                    <div class="form-check mb-2">
                      <input class="form-check-input" type="radio" [formControlName]="'question' + question.id"
                        [value]="option">
                      <label class="form-check-label">
                        {{option}}
                      </label>
                    </div>
                    }
                  </div>
                </div>
              </div>
            </div>
          }
        }
  
      }


    <div class="text-center">
      <button (click)="submitForm()" type="button" class="btn btn-primary">End Test</button>
    </div>
    
  </form>

</div>